
<%= link_to("Back to Pictures", "/pictures") %> | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %>
<%= link_to("Back to Pictures", "/pictures") %> | <%= link_to("Edit", "/pictures/#{@picture.id}/edit") %> | <%= link_to("Delete", "/pictures/#{@picture.id}", method: :delete, data: {confirm: "Are you sure you want to delete this picture?"})  %>

<p><%= @picture.title %>, <%= @picture.artist %></p>
<img src="<%= @picture.url %>">

<%= link_to("Back to Pictures", "/pictures") %>


<%= image_tag(@picture.url) %>
